  /* Reset */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      font-family: 'JetBrains Mono', monospace;
      background-color: #161442;
      overflow: hidden;
    }

        .fundo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('extended_background.png');
      background-size: auto; /* Tamanho original no mobile */
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000;
      opacity: 0.6;
      z-index: 0;
      transition: background-size 0.5s;
    }

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      border-radius: 20px;
      padding: 40px 30px;
      width: 360px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      text-align: center;
      z-index: 1;
    }

    h2 {
      font-family: 'Abril Fatface', serif;
      font-size: 24px;
      margin-bottom: 20px;
      color: #000;
    }

    .input-field {
      background-color: #747476;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 15px;
      width: 80%;
      font-weight: bold;
      text-align: center;
      transition: all 0.3s ease;
    }

    .input-field::placeholder {
      color: #E7E7E9;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    .total-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }

    .total-container h2 {
      font-size: 1rem;
      margin: 0 10px 0 0;
      color: #333;
    }

    .total-value {
      background-color: #747476;
      color: white;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 1rem;
    }

    .btn {
      background-color: #555555cd;
      color: #fff;
      padding: 15px 20px;
      border-radius: 40px;
      border: none;
      width: 80%;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #333;
    }

    @media (min-width: 1400px) {
      .fundo {
        background-size: cover;
      }
    }

    @media (max-width: 480px) {
      .container {
        width: 90%;
        padding: 25px 20px;
      }

      .btn, .input-field {
        width: 90%;
      }
    }