:root {
    --verde-esmeralda: #2A9D8F;
    --verde-petroleo: #264653;
    --amarelo-suave: #E9C46A;
    --laranja-terroso: #F4A261;
  }

  img
  {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 60%;
    
  }

  body{
    background-color: var(--verde-esmeralda);
  }
  main{
    background-color: var(--verde-petroleo);

  }

  .aa{
    background-color: var(--amarelo-suave);
  }

  p{
    background-color: #F4A261;
  }

  .logo{
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    margin-top: 10% ;
    margin-left: 50%;
  }