:root {
    --verde-esmeralda: #5bb8ad;
    --verde-petroleo: #264653;
    --amarelo-suave: #E9C46A;
    --laranja-terroso: #F4A261;
  }

  img
  {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 60%;
    
  }

  body{
    background-color: var(--verde-esmeralda);
  }
  main{
    margin: auto;
    background-color: white;
    width: 50%;
    text-align: center;
    border-radius: 20px;

  }


  p{
    --verde-esmeralda: #5bb8ad;
    padding: 3%; 
  }

  .logo{
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    margin-top: 10% ;
    margin-left: 50%;
  }

  .log{
  }
  

  header {
    background-color: #264653;
    margin-right: 20px;
    border-radius: 3%;
    width: 55%;

  }

.container {
    
}

  .loginb{
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(173, 173, 173);
    border: none;
    border-radius: 10px;
    width: 90%;
    transition-duration: 1s;
    margin: 10px;
  }

  button p {
    margin-top: -15px;
  }

  main h1 {
    color: gray;
    text-align: start;
    border-radius: 10%;
    margin-bottom: -10px;
    padding-left: 10px

  }

.h21{
    text-align: start;
    padding-left: 10px;
  }

  button:hover{
    background-color: rgb(159, 228, 224);
    cursor: pointer;
  }

  hr{
    margin-right: 10%;
    margin-left: 10%;
  }