body {
    background-image: url('Imagens/FundoIMG_highres.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* A imagem ficará fixa ao rolar */
    height: 100vh;
    position: relative;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e29a928f;
    z-index: -1; /* Coloca o overlay atrás do conteúdo */
  }

  header{
    background-color: var(--cor-principal);
    height: 110px;
  }

  :root {
    --cor-principal: #a55b68;  /* Tom rosado */
    --cor-secundaria: #9d9b6f; /* Verde oliva suave */
    --cor-destaque: #e6c6a8;   /* Bege claro */
    --cor-neutra: #f4ebe6;     /* Fundo bege muito claro */
    --cor-texto: #3a2d25;      /* Marrom escuro */
  }

#icone{
    max-width: 200px;
    max-height: 100px;
    margin-left: 85px;
    margin-top:5px;
  }



main {
    display: flex;
    margin-top: -100px;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagem-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    justify-content: space-between; 
}

.imagem-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%; /* Permite que o contêiner ocupe toda a largura disponível */
    height: 100%;
    justify-content: flex-start; /* Garante que as imagens comecem da esquerda */
    animation: slide 25s linear infinite; /* Animação contínua */
}

.imagem-container img {
    max-width: 500px; /* Ajuste para aumentar o tamanho das imagens */
    height: auto; /* Mantém a proporção das imagens */
    object-fit: contain;
    opacity: 1; /* As imagens ficam visíveis o tempo inteiro */
    transition: opacity 1s ease-in-out;

    margin: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Move todas as imagens para a esquerda */
    }
}



@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}


article{
    background-color: #000000;
}
